﻿@using Examine.Providers
@using Umbraco.Web
@using UmbracoExamine
@using Examine.SearchCriteria
@using Examine
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{


    BaseSearchProvider _searcher = ExamineManager.Instance.SearchProviderCollection["MultiSearcher"];
   

    var fieldsToSearch = new[]
    {
    "contents","FileTextContent"
    };

  
    var criteria = _searcher.CreateSearchCriteria(BooleanOperation.Or);



    var searchTerm = string.Empty;
    searchTerm = string.IsNullOrEmpty(Request["q"]) ? string.Empty : Request["q"];

    if (searchTerm == string.Empty)
    {

    }
    else
    {
        var examineQuery = criteria.Field("contents",searchTerm)
            .Or()
            .Field("FileTextContent",searchTerm);
        var results = _searcher.Search(examineQuery.Compile());
        var umbraco = new UmbracoHelper(UmbracoContext.Current);

        if (results.Any())
        {
<div  style="margin-top:20px">
    <p>You search for ""<strong>@searchTerm</strong>" found @results.Count() results:</p>
 </div>
    <ul class="list-group col-md-8">
        @foreach (var result in results)
        {

            if (result.Fields.ContainsKey("__IndexType") && result.Fields["__IndexType"].ToLower() == "media")
            {
                var media = umbraco.TypedMedia(result.Id);
                <li class="list-group-item justify-content-between">
                    <span class="search-title"><a href="@media.Url">@media.Name</a></span>
                    <span class="badge badge-default badge-pill">@result.Score</span>
                </li>
            }
            else
            {
                var node = umbraco.TypedContent(result.Id);
                <li class="list-group-item justify-content-between">
                    <span class="search-title"><a href="@node.Url">@node.Name</a></span>
                    <span class="badge badge-default badge-pill">@result.Score</span>
                    @if (result.Fields.ContainsKey("description"))
                    {
                        <p> @result.Fields["description"]</p>
                    }
                </li>
            }

        }
    </ul>



    }
    else
    {
    <p>No results found for query @searchTerm</p>
    }
    <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
        <pre class="bg-info">Examine criteria: @criteria.ToString()</pre>
    </div>
    }
    }
