﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Page>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "masterTemplate.cshtml";
}
<section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>@Umbraco.Field("title")</h2>
                            @Html.Partial("breadcrumbs")
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->
            <section id="blog-full-width">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                <div class="blog-post-image">
                                    <img class="img-responsive" src="@Umbraco.Media(@CurrentPage.headerImage.ToString()).Url" alt="" />
                                </div>
								<h2 class="blogpost-title">
                                    @Umbraco.Field("bodyTitle")  
                                </h2>		
                                <div class="blog-content">
                                 @Umbraco.Field("bodyText")   
                                    
                                </div>
                                
                            </article>
                            
                        </div>
                    </div>
                </div>
            </section>