﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Search>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "masterTemplate.cshtml";
}
<section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>@Umbraco.Field("title")</h2>
                            @Html.Partial("breadcrumbs")
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->
            <section id="blog-full-width">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                <div class="blog-post-image">
                                    <img class="img-responsive" src="@Umbraco.Media(@CurrentPage.headerImage.ToString()).Url" alt="" />
                                </div>
                               
								<h2 class="blogpost-title">
                                    @Umbraco.Field("bodyTitle")  
                                </h2>	
                                
                                
                                <div class="blog-content">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div id="imaginary_container">
                                                <form action="/Search/"  method="get">
                                                    <div class="input-group stylish-input-group">
                                                        @{ 
                                                            var query = string.IsNullOrEmpty(Request["q"]) ? string.Empty : Request["q"];

                                                        }

                                                        <input type="text" class="form-control" name="q" placeholder="Search - try 'umbraco'" value="@query">
                                                        <span class="input-group-addon">
                                                            <button type="submit">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>  
                                   
                                            @Html.Partial("search")
                                     
                                </div>
                                
                            </article>
                            
                        </div>
                    </div>
                </div>
            </section>